<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Guide Admission Test</h1>
      <button mat-icon-button disabled></button>
      <a
        mat-button
        class="btn btn-primary"
        [routerLink]="'/home'"
        data-translate
      >
        List Authors
      </a>
      <span class="menu-spacer"> | </span>
      <div>
        <a
          mat-button
          class="btn btn-primary"
          [routerLink]="'/create-author'"
          data-translate
        >
          create-author
        </a>
      </div>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span style="font-size: 12px;">Created by: Douglas Gomes Modesto</span>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
<router-outlet>
  <div style="text-align: center">
    <h3>Projeto Obras Bibliográficas</h3>
  </div>
</router-outlet>
